<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ClinicModel" connectionString="data source=localhost;initial catalog=CIS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <client />
  </system.serviceModel>
</configuration>