<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="net.pipe://app" binding="netNamedPipeBinding"
                bindingConfiguration="" contract="CIS.Application.Façade.IApplicationFaçade"
                name="ApplicationEndPoint" kind="" endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>