<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NamedPipeBinding" transactionFlow="true" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://app" binding="netNamedPipeBinding"
                bindingConfiguration="NamedPipeBinding" contract="CIS.Application.Façade.IApplicationFaçade"
                name="ApplicationEndPoint" kind="" endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>