<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="CIS.Application.Façade.ApplicationFaçade">
                <endpoint address="net.pipe://app" binding="netNamedPipeBinding"
                    bindingConfiguration="" name="ApplicationEndPoint" contract="CIS.Application.Façade.IApplicationFaçade" />
            </service>
        </services>
    </system.serviceModel>
</configuration>