<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ClinicModel" connectionString="data source=localhost;initial catalog=CIS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NamedPipeBinding" transactionFlow="true" />
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/db" binding="netNamedPipeBinding"
        bindingConfiguration="NamedPipeBinding" contract="CIS.Data.DataAccess.UnitOfWork.IUnitOfWork"
        name="UnitOfWorkEndPoint" kind="" endpointConfiguration="" />
      <endpoint address="net.pipe://localhost/app" binding="netNamedPipeBinding"
        bindingConfiguration="NamedPipeBinding" contract="CIS.Application.Façade.IApplicationFaçade"
        name="ApplicationEndPoint" kind="" endpointConfiguration="" />
    </client>
  </system.serviceModel>
</configuration>